@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

html {
    --background-primary: #1E1E1E;
    --background-secondary: #242424;
    --text-primary: #FFFFFF;
    --text-secondary: #EAEAEA;
    --text-third: #A2A2A2;
    --text-fourth: #373737;
    --border-primary: #4A4A4A;

    --scroll: #2E2E2E;
    --scroll-hover: #363636;
    --scroll-background: #4A4A4A;

    --block-shadow: 0 12px 24px rgba(0, 0, 0, 0.25);
}

body {
    background-color: var(--background-primary);

    color: var(--text-primary);
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-style: normal;
}

button {
    color: var(--text-primary);
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-style: normal;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 48px 48px 0 48px;

    @media only screen and (max-width: 880px) {
        padding: 48px;
    }

    .title {
        margin-top: -40px;
        position: absolute;

        @media only screen and (max-width: 880px) {
            margin-top: -24px;
            left: 0;
            right: 0;
            margin-inline: auto;
            width: fit-content;
        }

        .pronounce {
            font-weight: bold;
            font-size: 4rem;
        }

        .logo {
            position: absolute;

            top: -10px;

            width: 48px;
            height: 48px;
        }
    }

    .socials {
        display: flex;
        column-gap: 32px;

        img {
            width: 64px;
            height: 64px;

            transition: transform .2s;

            &:hover {
                transform: scale(1.2);
            }
        }

        @media only screen and (max-width: 880px) {
            display: none;
        }
    }
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    height: 100%;
    min-height: 100%;

    @media only screen and (max-width: 1526px) {
        height: auto;
    }
}

.container {
    display: flex;
    column-gap: 32px;
    width: 100%;
    height: 85%;
    max-width: 100%;

    padding: 32px 48px;

    @media only screen and (max-width: 728px) {
        padding: 16px 16px;
    }

    @media only screen and (max-width: 1526px) {
        height: 200%;
        flex-direction: column;
        row-gap: 32px;
    }

    .left {
        display: flex;
        flex-direction: column;
        row-gap: 32px;

        width: 100%;
    }

    .right {
        width: 70%;

        @media only screen and (max-width: 1526px) {
            width: 100%;
            max-height: 20%;
        }
    }
}

.block {
    display: flex;
    flex-direction: column;
    row-gap: 16px;

    padding: 48px;

    width: 100%;
    height: 100%;

    background-color: var(--background-primary);
    border: 2px solid var(--border-primary);
    border-radius: 64px;

    -moz-box-shadow: var(--block-shadow);
    -webkit-box-shadow: var(--block-shadow);
    box-shadow: var(--block-shadow);

    @media only screen and (max-width: 728px) {
        padding: 32px;

        border-radius: 48px;
    }

    .title {
        font-weight: bold;
        font-size: 1.75rem;
    }

    .description {
        color: var(--text-secondary);
    }

    #portfolio {
        display: flex;
        flex-direction: column;
        row-gap: 32px;

        overflow-y: scroll;

        @media only screen and (max-width: 1526px) {
            overflow-y: hidden;
        }
    }
}

.work {
    display: flex;
    flex-direction: column;
    row-gap: 8px;

    .title {
        display: flex;
        column-gap: 8px;

        @media only screen and (max-width: 728px) {
            flex-direction: column;
            align-items: center;
        }

        img {
            width: 80px;
            height: 80px;
        }

        .text {
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            padding-top: 8px;
            padding-bottom: 8px;

            font-weight: 600;
            font-size: 1.75rem;

            @media only screen and (max-width: 728px) {
                text-align: center;
                align-items: center;

                padding-top: 16px;

                font-size: 1.45rem;
            }

            .post {
                color: var(--text-secondary);
            }
        }
    }

    .time {
        color: var(--text-third);

        @media only screen and (max-width: 728px) {
            text-align: center;
        }
    }

    .description {
        color: var(--text-secondary);

        @media only screen and (max-width: 728px) {
            text-align: center;
        }
    }
}

footer {
    background-color: var(--background-secondary);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 16px;
    /*align-items: center;*/

    padding: 24px 64px;
    height: 100%;

    .sides {
        display: flex;
        justify-content: space-between;
        align-items: center;

        @media only screen and (max-width: 728px) {
            flex-direction: column;
            row-gap: 24px;

            padding: 24px 24px;
        }

        .side {
            display: flex;
            flex-direction: column;

            &.left {
                color: var(--text-fourth);

                @media only screen and (max-width: 728px) {
                    text-align: center;
                }
            }

            &.right {
                text-align: right;
                color: var(--text-secondary);

                @media only screen and (max-width: 728px) {
                    text-align: center;
                }
            }
        }
    }

    .socials {
        display: none;
        align-self: center;
        column-gap: 32px;

        img {
            width: 48px;
            height: 48px;
        }

        @media only screen and (max-width: 880px) {
            display: flex;
        }
    }
}
